{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'cadastro/css/cadastro.css' %}">
{% endblock %}

{% block 'dashboard' %}

<div id="container">
    <div class="tab-buttons">
        <button class="tab-btn active" content-id="home">
            Cadastrar Usuários
        </button>
        <button class="tab-btn" content-id="pesquisa">
            Pesquisar
        </button>
    </div>
    <div class="tab-contents">
        <div class="content show" id="home">
            <form action="{% url 'cadastro' %}" method="POST">{% csrf_token %}
                Informações do Usuário:<br>
                <hr style="background-color:gray;">
                <div class="row">
                    <div class="form-group col-md-8">
                        <label for="nome">Nome:</label>
                        <input type="text" class="form-control" placeholder="Nome" name="nome" value="{{nome}}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="cpf">CPF:</label>
                        <input type="text" class="form-control" placeholder="___.___.___-__" name="cpf" value="{{cpf}}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="rg">RG:</label>:
                        <input type="text" class="form-control" placeholder="__.___.___-_" name="rg" value="{{rg}}">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-8">
                        <label for="email">E-mail:</label>
                        <input type="email" class="form-control" placeholder="nome@email.com" name="email" value="{{email}}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="telefone1">Telefone:</label>
                        <input type="text" class="form-control" placeholder="(__)____-____" name="telefone1" value="{{telefone1}}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="telefone2">Telefone 2:</label>
                        <input type="text" class="form-control" placeholder="(__)____-____" name="telefone2" value="{{telefone2}}">
                    </div>
                </div>

                Informações Residenciais:
                <hr style="background-color:gray;">
                <div class="row">
                    <div class="form-group col-sm-2">
                        <label for="cep">CEP:</label>
                        <input type="text" id="cep" size="10" maxlength="9" class="form-control" name="cep" placeholder="ex. 17500500">
                    </div>
                    
                    <div class="col-1 align-self-center">
                        <button type="button" onclick="pesquisa_cep($('#cep').val())" class="btn btn-secondary w-60 btn-pesqcep" alt="Pesquisar CEP">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                            </svg>
                        </button>                        
                    </div>
                    
                    <div class="form-group col-md-8">
                        <label for="logradouro">Endereço:</label>
                        <input type="text" id="logradouro" class="form-control" placeholder="Endereço" name="endereco" readonly>
                    </div>
                    <div class="form-group col-sm-1">
                        <label for="numero">Número:</label>
                        <input type="number" class="form-control" placeholder="Número" name="numero" value="{{numero}}">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="bairro">Bairro:</label>
                        <input type="text" id="bairro" class="form-control" placeholder="Bairro" name="bairro" readonly>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="cidade">Cidade:</label>
                        <input type="text" id="cidade" class="form-control" placeholder="Cidade" name="cidade" readonly>
                    </div>
                    <div class="form-group col-md-1">
                        <label for="uf">UF:</label>
                        <input type="text" id="UF" class="form-control" placeholder="UF" name="uf" readonly>
                    </div>
                </div>

                <p>Observações:</p>
                <hr style="background-color:gray;">
                <div class="row">
                    <div class="form-group col-md">
                        <textarea class="form-control" rows="3" name="observacoes">{{observacoes}}</textarea>
                        
                    </div>
                </div>
                <hr style="background-color:gray;">

                <div id="animais">
                    <div class="col-md-1 align-self-center">
                        <button type="button" onclick="add_animal()" class="btn btn-secondary w-60" alt="Adicionar Animal">Adicionar Animal
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="15" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                            </svg>
                        </button>
                    </div>
                    <hr style="background-color:gray;">
                    <div id="form_animal"><code id="subject"></code>
                    </div>
                </div>
                <br>
                <input type="submit" value="Cadastrar" class="btn btn-secondary w-60">
            </form>
        </div>
        <div class="content" id="pesquisa">
            <form action="{% url 'exibe_dados' %}" method="POST" id="pesquisa_usuario">{% csrf_token %}
                <div class="row">
                    <div class="col-md-10">
                        <label for="pesquisa_nome">Nome:</label>
                        <input type="text" id="pesquisa_nome" class="form-control p-1" placeholder="Nome ou parte dele" name="pesquisa_nome" value="{{request.GET.pesquisa_nome}}" autocomplete="off">
                        <br>
                    </div>
                    <div class="col-md">
                        
                        <label for="pesquisar">
                        <input type="submit" name="pesquisar" value="Pesquisar" class="btn btn-secondary btn-pesqusuario"></label>
                        
                    </div>
                </div>     
            </form>
           
            <div id="exibe_usuarios">
                <table class="table table-hover">
                        <tr>
                            <td scope="col">#</td>
                            <td scope="col">CPF</td>
                            <td scope="col">Nome</td>
                            <td scope="col">Endereço</td>
                            <td scope="col">Telefone</td>
                            <td scope="col">Telefone</td>

                        </tr>
                        {%for usuarios in lista_usuarios%}
                            <tbody id="exibe_dados">
                                <tr>
                                    <td>{{usuarios.id}} </td>
                                    <td>{{usuarios.cpf}}</td>
                                    <td>{{usuarios.nome}}</td>
                                    <td>{{usuarios.endereco}}</td>
                                    <td>{{usuarios.telefone1}}</td>
                                    <td>{{usuarios.telefone2}}</td>
                                    <td><a href='/editar_usuario/{{usuarios.id}}'><span><i class="fas fa-trash"></i></span><button class="btn btn-secondary w-100 py-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                    </svg> Editar</button></a></td>
                                    <td><a href='/termo/{{usuarios.id}}'><span><i class="fas fa-trash"></i></span>
                                        <button class="btn btn-secondary w-100 py-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                                            <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                                            <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1"/>
                                          </svg> Imprimir</button></a></td>
                                    <td><a href='/apagar_usuario/{{usuarios.id}}'  onclick="return confirm('Tem certeza?')"><span><i class="fas fa-trash"></i></span>
                                        <button class="btn btn-secondary w-100 py-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                    </svg> Apagar</button></a></td>
                        {% empty%}
                                <tr>
                                    <td>Nenhum usuário encontrado!.</td>
                                </tr>   
                        {%endfor%}
                    </table>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'cadastro/js/cadastro.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}