*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}

#container{
    background-color: #f0f8ff;
    width: 100%;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

}

#animais{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.tab-buttons{
    display: flex;
    gap: 6px;
}

.tab-btn{
    width: 100%;
    border: none;
    color:#020617;
    background-color: #ffffff;
    border-radius: 8px 8px 0px 0px;
    font-weight: 500;
    padding: 8px;
    cursor:pointer;
    transition: background-color .3s ease;
}

.tab-btn.active{
    background-color: #b3d4f1;
}

.tab-btn:hover{
    background-color: #b3d4f1;
}

.content{
    display:none;
}

.content.show{
    display:block;
    gap:14px;
    background-color: #b3d4f1;
    border-radius: 0px 0px 8px 8px;
    padding: 3px;
}

.btn-pesqcep{
    margin-top:15px;
}

.btn-pesqusuario{
    margin-top:30px;
}